*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-top{
    width:100%;
    height: calc(100vh - 80px);
    /* background-color: aquamarine; */
    display: flex;
}

img{
    height: 100%;

}

.h{
    height: 80px;
    /* modificare anche il calc() della classe .container-top */
}

.container-bottom{
    width: 100%;
    background-color:#282828;
    display: flex;
    padding: 10px;
}

.sidebar{

    /* modificare anche il calc() delle classi .main e .main-top */
    width: 170px;
    height:100%;
    background-color:#000;
}

.main-sidebar{
    height: calc(100% - 70px);
}

.logo{
    margin-bottom: 20px;
}

.contenuto-logo{
    height:45px;
}

.logo-icon{
    display: none;
}

.playlist{
    height: calc(100% - (45px + 75px));
    overflow-y: auto;
    margin-top:20px;

}

.playlist > .my-playlist ul{
    list-style: none;
}
.add-playlist{
    display: flex;
    align-items: center;
}



.add-playlist i{
    font-size: 30px;
}

.funzione div,
.img-download{
    height:20px;
    display: inline-block;
}

.download{
    height:70px;
    /* ricordati di modificare anche al calc() della classe .main-sidebar */
    background-color: #000;
    position: relative;
    /* z-index: 10; */
    /* la posizione della list delle playlist va sono al container che ha all'interno la foto profilo è il link per scaricare l'app solamento inserendo position relative */
}

/* .download :nth-child(1){
    border-bottom: 1px solid #5b5b5b;
} */

.account-name{
    padding: 5px 0;
    border-top: 1px solid #5b5b5b;
}

.install, 
.account-name{
    display: flex;
    align-items: center;
}


.img-account{
    display: inline-block;
    border: 1px solid;
    border-radius:50%;
    padding: 2px;
    height:30px;
    background-color: grey;
    overflow: hidden;
}

.main{
    width: calc(100% - 170px);
    height: 100%;
    background-color: #141922;
}

.main-top{
    width:calc(100% - 170px);
    position: fixed;
    background-color: #02020277;
    display: flex;
    justify-content: end;
    align-items: center;
}

.col-w{
    color:#fff;
}

.col-g, ul{
    color:#5b5b5b;
}

.pad-left{
    padding-left:15px;
}

.margin-bott,
li,
.install{
    margin-bottom: 10px;
}

.upgrade{
    background-color: rgba(255, 255, 255, 0);
    border-width: 0;
    border: 2px solid #fff;
    border-radius: 25px;
    margin-right: 5px;
    padding:15px;
}

/* parte del footer */

.footer-left, .footer-right{
    width: 200px;
    /* flex-grow: 1; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-center{
    min-width: calc(100% / 3);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

}

.container-footer{

    display: flex;
    align-items:center;
}
.content-img{
    height: 45px;
}

.footer-center>.icons{
    display: flex;
    justify-content: space-between;
    width: 115px;
    font-size: 15px
}

.durata-canzone{
    width: 100%;
    text-align: center;
}

.durata-canzone input{
    width:calc(100% - 70px);
}

.footer-right input{
    width:100%;
}

/* input type range */


/* ---------------------------------------------- */

@media screen and (max-width:574px) {
    .sidebar{
        width: 50px;
        /* overflow: ; */
    }

    .main{
        width: calc(100% - 50px);
    }

    .main-top{
        width: calc(100% - 50px);
    }
}