*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-flex{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #333;
}

.container-top{
    width:100%;
    height: calc(100% - 100px);
    background-color: aquamarine;
}

.container-bottom{
    height: 100px;
    width: 100%;
    background-color:pink;
    /* align-self: flex-end; */
}